@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
body{
    min-height: 100vh;
    background: #fffff6;
    overflow: hidden;
}
img {
  height: auto;
  width: 100%;
}

/*Disables Horizontal Scroll on Parallax Effect😎*/
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
/*Header*/
.header {
    background-color: #ffffff;
    box-shadow: 1px 1px 7px 0 rgba(0,0,0,.5);
    position: fixed;
    width: 100%;
    z-index: 300;
  }
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #ffffff;
  }
  .header li a {
    display: block;
    padding: 20px 20px;
    color: #04201b;
    border-right: 1px solid #dce0e2;
    text-decoration: none;
  }
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  .header .logo {
    display: block;
    float: left;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 15px;
    height: 50px;
    width: 80px;
  }

  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  .header .menu-icon {
    cursor: pointer;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    float: right;
  }
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    width: 18px;
  }
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  .header .menu-btn {
    display: none;
  }
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }  

/*Home Page Parallax Effect */

.section{
    position: relative;
    width:100%;
    height:100vh;
    padding:10px;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items:center;
}
.section::before{
    content:'';
    position:absolute;
    object-fit: cover;
    width:100%;
    height:100px;
    bottom: 0;
    background:linear-gradient(to top,rgb(6, 55, 67),transparent);
    z-index: 100;
}
.section img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    max-width: 100%;
    object-fit: cover;
    pointer-events: none;  
}
.section img#frontmobile{
    display: none;
}
.himobile{
  display: none;
}
.section img#fish1{
    position: absolute;
    overflow-x: hidden;
}
@media screen and (max-width:1000px) {
    #sec{
      padding: 10%;
    }
    .section img#front{
        display: none;
    }
    .section img#fish1{
        display: none;
    }
    .section img#frontmobile{
        display: block;
    }
    .section h1{
      font-size: 4.5em;
      position: absolute;
      color:white; 
      top: 15vh;
      display:block;
      z-index: 1;
      text-align: center;
      line-height: 0.7;
  }
  .section .himobile{
    font-size: 4.5em;
    position: absolute;
    color:white; 
    top: 15vh;
    display:block;
    z-index: 1;
    text-align: center;
    line-height: 0.9em;
}
}
.sec{
    position: relative;
    padding:100px;
    padding-bottom:10px;
    background:rgb(6, 55, 67);
}
.home-paragraph{
  padding: 10px 15%;
}
.sec h3{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 0px;
    font-size:3.0em;
    margin-bottom:0px;
    color:rgb(177, 253, 252);
}
.sec h2{
    line-height: 100%;
    font-size:3.5em;
    color:#fff;
}
.sec p{
    padding-top: 20px;
    font-size:1.4em;
    color:#fff;
}
/*Flexy's Crew*/
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.team-section{
	padding:1px 15px 30px;
}

.container{
	max-width: 100%;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.team-section .team-items{
	
	flex-basis: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.team-section .team-items .item{
 flex-basis: calc(25% - 30px);
 max-width: calc(25% - 30px);
 transition: all .5s ease;
 margin-bottom: 40px;
}
.team-section .team-items .item img{
	display: block;
	width: 100%;
	border-radius: 8px;
}

.team-section .team-items .item .inner{
	position: relative;
	z-index: 11;
	padding:0 40px;
}
.team-section .team-items .item .inner .info{
	background-color:#73e8df;
	text-align: center;
	padding: 15px 10px;
	border-radius:8px;
	transition: all .5s ease;
	margin-top: -40px;
}
.team-section .team-items .item:hover  .info{
    transform: translateY(-20px);
}
.team-section .team-items .item:hover{
 transform: translateY(-10px);	
}
.team-section .team-items .item .inner .info h5{
	margin:0;
	font-size: 18px;
	font-weight: 600;
	color:#08332b;
}
.team-section .team-items .item .inner .info p{
  padding-top: 2px;
	font-size: 16px;
	font-weight: 400;
	color:#fcfae5;
}

/*responsive*/
@media(max-width: 1085px){
	.team-section .team-items .item{
      flex-basis: calc(50% - 30px);
       max-width: calc(50% - 30px);
   }
  .home-paragraph{
    padding: 10px 0%;
  }
}

@media(max-width: 767px){
	.team-section .team-items .item{
      flex-basis: calc(100%);
       max-width: calc(100%);

   }
}

/*MEDIA*/
.media-section{
  display:flex;
  flex-direction: column;
  margin: 0% 5% 8% 5%;
}
.card{
	box-shadow: 0 15px 30px 1px #241601;
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 2em auto;
	max-height: 350px;
	max-width: 700px;
  transition: all .2s ease-in-out;
}
.card:hover{
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}
.media-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 20px;
  padding-top: 30px;
	height: 100%;
	float: left;
	width: 40%;
}
.media-image {
	display: block;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 60%;
}
.go-btn{
  padding-left: 70px;
  padding-top: 100px;
}
.go-btn a{
  text-decoration: none;
  background: #22a4b8;
  color: #f4f4f4;
  width: 70%;
  border-radius: 20px;
  padding: 10px;
  font-size: 2em;
  font-weight: 500;
}
.go-btn:hover a{
  color: #cfcbd2;
}
@media (max-width:750px) {
  .card{
    box-sizing: content-box;
    overflow: visible;
    padding-bottom: 25%;
  }
  #card-4{
    padding-bottom: 26%;
  }
  .media-details {
    overflow: visible;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 50%;
  }
  .media-section{
    margin: 0% 5% 0% 5%;
  }
  .go-btn{
    left: 10px;
    top: 100px;
    padding: 20px;
  }
  .media-image {
    display: inline-block;
    min-height: 100px;
    height: 10%;
    width: 45%;

  }
  .media-image img{
    border-radius: 200px;
    width:100%;
  }
}
@media screen and (max-width:280px) {
  #card-1 h1{
    font-size: 1.4em;
  }
}




/*CONTACT*/

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


textarea {
  margin: 8px 0;
  width: 100%;
  height: 150px;
  padding: 14px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
.contactform{
  border-radius: 5px;
  padding: 2% 20% 2% 20%;
}

/*DEMO REEL*/
.video-container {
  width: 90%;
  max-width: 1000px;
  margin: 10%, auto;
  padding: 10px;
  text-align: center;
  flex: 1;
}



.video-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap; /* Ensure horizontal layout on desktop */
}

.video {
  margin: 10px;
}

/* Ensure demo reel video stays within the screen */
.demo-reel iframe {
  max-width: 100%;
  max-height: 70vh; /* Adjust this value as needed to fit the video within the screen */
}

/*Footer*/
footer{
  color: #effffc;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2.3rem;
  background-color: #066562;  
}

.footer-container {
position: sticky;
display: flex;
flex-direction: row-reverse;
flex-wrap: wrap;
justify-content: flex-start;
align-content: stretch;
align-items: flex-start;
}
.copyright{
order: 1;
flex: 1 0 auto;
align-self: auto;
padding: 5px 0px 0px 10px;
}
.social-icon{
margin-top: 5px;
padding: 0px 5px 0px 5px;
order: 0;
flex: 0 1 auto;
align-self: auto;
}

.social-icon a{
fill: #effffc;
}
.social-icon a:hover{
fill: rgb(150, 247, 252);
}

/*GALLERY*/
       .flexbin{
        width: 90%;
        margin: 0px auto;
        margin-bottom: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px; /* Adds space between images */
        align-items: flex-start; /* Prevents vertical stretching */
      }
      .zoomable {
        max-width: 30%; /* Ensures the image does not exceed 30% of the parent's width */
        height: auto; /* Automatically adjusts height to maintain the aspect ratio */
        border-radius: 15px;
        padding: 5px;
        transition: all 0.5s ease;
        object-fit: contain; /* Ensures the image fits within its box without stretching */
      }


      .zoomable:hover{
        cursor: pointer;
        transform: scale(1.07);
        transition: all 0.5s ease;
      }


/*BANNER*/


.banner {
  position: relative;
  width: 100%;
  height: 50vh; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 60px; /* Adjust based on the header height */
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.banner-text {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  font-size: 3vw; /* Use vw units to make font size responsive */
  padding: 0 20px; /* Add padding to handle small screen widths */
  max-width: 90%; /* Ensure text stays within the banner */
  line-height: 1.2; /* Adjust line-height for better readability */
  white-space: nowrap;
}

@media (max-width: 1000px) {
  .banner {
      height: 20vh; /* Adjust the height for smaller screens */
      margin-top: 3.6em; /* Adjust based on the header height */
  }
  .banner-text {
      font-size: 5vw; /* Adjust font size for smaller screens */
      padding: 0 10px; /* Reduce padding for smaller screens */
  }
}

/*BUTTON*/
.button-container {
  text-align: center;
}

.button-link {
  text-decoration: none; /* Removes underline from the link */
}

.responsive-button {
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: calc(16px + 0.5vw);
  background-color: #094e48;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.responsive-button:hover {
  background-color: #03373d;
  transform: scale(1.05);
}

.responsive-button:active {
  transform: scale(0.95);
}

/*GRAPHIC DESIGN*/
.projIndivContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  max-width: 1000px;
  margin: 2em auto 4em auto;

  align-items: center; 
  justify-content: center; 
  text-align: center; 
}

.projText, .projImage {
  flex: 1;
  min-width: 300px;
  margin: 10px;
}

.projImage img {
  width: 100%;
  height: auto;
  max-height: 1000px;
  border-radius: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .projIndivContainer {
      flex-direction: column;
      align-items: center;
  }

  .projText, .projImage {
      margin: 0;
      padding: 10px;
  }
}

/* PROJECT BACK BUTTON  -------------------------------------------------------------------------------------*/
 
.nav-button {
  font-family: 'lato', sans-serif;
  font-weight: 600;
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  background-color: #fe3465;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.nav-button:hover {
  transform: scale(1.1);
  filter: brightness(85%); 
  transition: 0.3s ease;
}
